/* -----------------------
Base styles
------------------------*/

body
{
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #eee;
    font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0 0 0.5em;
    font-weight: 500;
    line-height: 2.5;
}

h1 { font-size: 2.25em; background-color: #85b6c9; margin: 0; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
    margin: 0 0 1.5em;
    line-height: 1.5;
}

hr
{
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

table
{
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
}

th, td
{
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.hash_text_area
{
    width: 7em;
    border: none;
    resize: none;
    font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;

}

a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }

/* -----------------------
Layout styles
------------------------*/

.container
{
    max-width: 55em;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.header
{
    color: #fff;
    background: #999;
    padding: 1em 1.25em;
}

.header-heading { margin: 0; }

.content { padding: 1em 1.25em; }

.footer
{
    color: #fff;
    background: #000;
    padding: 1em 1.25em;
}

/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }

.btn
{
    color: #fff !important;
    background-color: royalblue;
    border-color: #222;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover
{
    color: #fff !important;
    background-color: green;
}

.btn:focus
{
    color: #fff !important;
    background-color: black;
}

.btn:active
{
    color: #fff !important;
    background-color: red;
}

.table
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.list-unstyled
{
    padding-left: 0;
    list-style: none;
}

.list-unstyled > li
{
    margin-bottom: 10px;
}
.list-unstyled > li > label
{
    display:inline-block;

}

.list-inline
{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li
{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


/* Own Stuff */
 /* Dropdown Button */
.nav-container {
    overflow: hidden;
    background-color: #0a83b3;
    font-family: Arial;
}

.nav-container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.nav-container a:hover, .dropdown:hover .dropbtn {
    background-color: #229ec0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #d1ecf8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.edit_button {
    background-image:url(/Assets/Img/edit-button.png);
    display:block;
    height:16px;
    width:16px;
    float: left;
}

.delete_button {
    background-image:url(/Assets/Img/delete-button.png);
    display:block;
    height:16px;
    width:16px;
    float:left;
    margin-left: 5px;
}

.result_message {
    margin: 0px -1empx 1.5em;
    line-height: 2.5;
    color: #90ec90;
    padding-left: 1em;
}
