<div class="nav-container">
    <a href="index.pl">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Storage</button>
            <div class="dropdown-content">
                <a href="index.pl?storage/showall">Show all</a>
            </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Server</button>
            <div class="dropdown-content">
                <a href="#">Show all</a>
            </div>
    </div>
</div>