<div class="nav-container">
    <a href="/index.pl">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Storage</button>
        <div class="dropdown-content">
            <a href="/index.pl/storage/showall">Show all</a>
            <a href="/index.pl/storage/new">New Storage</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Server</button>
        <div class="dropdown-content">
            <a href="/index.pl/server/showall">Show all</a>
            <a href="#">New Server</a>
        </div>
    </div>
</div>