<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/Assets/CSS/demo.css" />
        <title>Storage</title>
    </head>
    <body>
        <div class="container">
            <h1><b>Demoprojekt - Storage</b></h1>
            <TMPL_INCLUDE NAME= navigation.tmpl>
            <div class="content">
            <p class="result_message"><TMPL_VAR NAME="result_message"></p>
                <form method="post" onsubmit="return numberInputValidation()">
                    <h3>New Storage</h3>
                    <ul class="list-unstyled">
                        <li>
                            <label for="ipt_name">Name:
                                <input type="text" name="ipt_name" value="" required/>
                            </label>
                        </li>
                        <li>
                            <label for="ipt_capacity">Capacity:
                                <input id="ipt_capacity" type="text" name="ipt_capacity" value="" required/>
                                <p id="validator_output"></p>
                            </label>
                        </li>
                        <li>
                            <input type="submit" class="btn" name="submit_new_storage" value="Submit" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <script>
            function numberInputValidation() {
                var input_value, text;

                // Get the value of the input field with id=ipt_capacity
                input_value = document.getElementById("ipt_capacity").value;

                // if input is not a number
                if (isNaN(input_value)) {
                    text = "This Field can only contain Numbers.";
                    document.getElementById("validator_output").innerHTML = text;
                    return false;
                }
            }
        </script>
    </body>
</html>